{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-8 is-variable ">
                    <div class="column is-two-thirds has-text-left">
                        <h1 class="title is-1">Contact Us</h1>
                        <p class="is-size-4">
                            Please give us your feedback. Send me your comments and suggestion using this contact form.
                        </p>
                        <div class="social-media">
                            No social media yet.
                        </div>
                    </div>
                    <div class="column is-one-third has-text-left">
                        {{ form_start(form) }}
                        <div class="field">
                            {{ form_label(form.name, null, {'label_attr': {'class': 'label'}}) }}
                            <div class="control has-icons-left">
                                {{ form_widget(form.name, {'attr': {'class': 'input is-medium'}}) }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            {% if not form.name.vars.valid %}
                                <p class="help is-danger">{{ form_errors(form.name) }}</p>
                            {% endif %}
                        </div>
                        <div class="field">
                            {{ form_label(form.email, null, {'label_attr': {'class': 'label'}}) }}
                            <div class="control has-icons-left">
                                {{ form_widget(form.email, {'attr': {'class': 'input is-medium'}}) }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-at"></i>
                                </span>
                            </div>
                            {% if not form.email.vars.valid %}
                                <p class="help is-danger">{{ form_errors(form.email) }}</p>
                            {% endif %}
                        </div>
                        <div class="field">
                            {{ form_label(form.message, null, {'label_attr': {'class': 'label'}}) }}
                            <div class="control">
                                {{ form_widget(form.message, {'attr': {'class': 'textarea is-medium'}}) }}
                            </div>
                            {% if not form.message.vars.valid %}
                                <p class="help is-danger">{{ form_errors(form.message) }}</p>
                            {% endif %}
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">
                                Send Message
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        {% for contact in contacts %}
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ contact.name }}</strong> {{ contact.email }}
                                <small>{{ contact.createdAt|date('m.d.Y H:i:s') }}</small>
                                <br>
                                {{ contact.message|limit }}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}
